include *.rst
include requirements*.txt
include Makefile
exclude .gitmodules
exclude .readthedocs.yaml
recursive-include babelizer/data *
recursive-exclude docs *
recursive-exclude paper *
recursive-include tests *
recursive-include external/bmi-example-c *
recursive-include external/bmi-example-cxx *
recursive-include external/bmi-example-fortran *
recursive-include external/bmi-example-python *
recursive-include external/tests *
include external/requirements.txt
exclude external/bmi-example-c/.git*
exclude external/bmi-example-cxx/.git*
exclude external/bmi-example-fortran/.git*
exclude external/bmi-example-python/.git*
