# Requirements extracted from pyproject.toml
# [project.dependencies]
click
gitpython
importlib-resources; python_version < '3.12'
jinja2
logoizer@ git+https://github.com/mcflugen/logoizer
pyyaml
tomli-w
tomli; python_version < '3.11'
