# Requirements extracted from pyproject.toml
# [project.optional-dependencies.docs]
furo
pygments>=2.4
sphinx-click
sphinx-copybutton
sphinx-inline-tabs
sphinx-inline-tabs
sphinx>=4
sphinxcontrib.towncrier
