# Requirements extracted from pyproject.toml
# [project.optional-dependencies.docs]
sphinx>=4
sphinx-click
sphinx-copybutton
sphinx-inline-tabs
sphinxcontrib.towncrier
pygments>=2.4
sphinx-inline-tabs
furo
