.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints
build/
dist/
sdist/
*.egg-info/
htmlcov/
.coverage
coverage.xml
docs/_build/
docs/_generated/
.venv
.nox/
*.so
*.o
*.mod
*.smod

{%- if cookiecutter.language != 'python' -%}
{%- for babelized_class in cookiecutter.components %}
{{cookiecutter.package_name}}/lib/{{ babelized_class|lower }}.c
{%- endfor %}
{%- endif %}
